
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <h3 class="navbar-brand">{{getTitle()}}</h3>
        </div>
        <button class="navbar-toggler" type="button" (click)="collapse()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">
                <i><fa-icon  [icon]="faHome"></fa-icon></i>
              </a>
            </li>
            <li class="nav-item" ngbDropdown>
              <a class="nav-link" id="userDropDown" ngbDropdownToggle>
                <i><fa-icon [icon]="faUser"></fa-icon></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="userDropDownMenu">
                <a class="dropdown-item">
                  <i class="now-ui-icons users_single-02"></i>
                  <p>{{ userName }}</p>
                </a>
                <a (click)="EditUser()" class="dropdown-item" routerLink="/user-form">
                  <i class="now-ui-icons loader_gear"></i>
                  <p>Settings</p>
                </a>
                <a  (click)="LogOut()"  class="dropdown-item" routerLink="/login">
                  <i class="now-ui-icons media-1_button-power"></i>
                  <p>Logout</p>
                </a>
              </div>
            </li>
          </ul>
        </div>
    </div>
</nav>
