<div class="panel-header panel-header-lg">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="bigDashboardChartData"
                [labels]="bigDashboardChartLabels"
                 [colors]="bigDashboardChartColors"
                [options]="bigDashboardChartOptions"
                [chartType]="bigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-title">Ingress Logs</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="IngressChart"
                        [datasets]="ingressChartData"
                        [labels]="ingressChartLabels"
                        [colors]="ingressChartColors"
                        [options]="ingressChartOptions"
                        [chartType]="ingressChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Refresh
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-title">Egress Logs</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            <canvas baseChart id="EgressChart"
                        [datasets]="egressChartData"
                        [labels]="egressChartLabels"
                        [colors]="egressChartColors"
                        [options]="egressChartOptions"
                        [chartType]="egressChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Refresh
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-title">Last 10 Hours</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="LastTenHoursChart"
                        [datasets]="lastTenHoursChartData"
                        [labels]="lastTenHoursChartLabels"
                        [colors]="lastTenHoursChartColors"
                        [options]="lastTenHoursChartOptions"
                        [chartType]="lastTenHoursChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Refresh
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Latest 5 Ingress Logs</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-enershare">
              <th scope="col">Provider</th>
              <th scope="col">Resource Id</th>
              <th scope="col">Resource Type</th>
              <th scope="col">Contract Id</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
              </thead>
              <tbody>
              <tr *ngFor="let log of ingressLogs">
                <td>{{ log.provider }}</td>
                <td>{{ log.resourceId }}</td>
                <td>{{ log.resourceType }}</td>
                <td>{{ log.contractId }}</td>
                <td>{{ log.createdOn | date : 'yyyy-MM-dd HH:mm' }}</td>
                <td>{{ log.action }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Latest 5 Egress Logs</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
                <thead class="text-enershare">
                <th scope="col">Consumer</th>
                <th scope="col">Resource Id</th>
                <th scope="col">Resource Type</th>
                <th scope="col">Contract Id</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
                </thead>
                <tbody>
                <tr *ngFor="let log of egressLogs">
                  <td>{{ log.consumer }}</td>
                  <td>{{ log.resourceId }}</td>
                  <td>{{ log.resourceType }}</td>
                  <td>{{ log.contractId }}</td>
                  <td>{{ log.createdOn | date : 'yyyy-MM-dd HH:mm' }}</td>
                  <td>{{ log.action }}</td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
