<div class="login">
  <div class="logo d-flex align-items-start">
    <a href="https://enershare.eu/" class="simple-text logo-mini" target="_blank">
      <div class="logo-img">
        <img src="./assets/img/logo-enershare-white.png"/>
      </div>
    </a>
  </div>
  <div class="outer d-flex align-items-center min-vh-100">
    <div class="container pb-5">
      <div class="row">
        <div class="col-xs-7 col-6 col-sm-7 col-md-6 col-lg-5 col-xl-5 mx-auto">
          <div class="card pb-3 pt-3">
            <div class="card-header text-center">
              <div class="logo-container">
                <img src="./assets/img/favicon.png"/>
                <h5 class="title text-color">Clearing House</h5>
              </div>
            </div>
            <div class="card-body">
              <form class="pr-3 pl-3 pt-3 pb-3">
                <div class="form-group pt-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text text-white"><i class="fa fa-user"></i></span>
                    </div>
                    <input class="form-control bg-transparent text-white placeholder-white" name="Email"
                           type="text" [(ngModel)]="authRequest.email" placeholder="Email">
                  </div>
                </div>
                <small class="text-white">*Email is required</small>
                <div class="form-group pt-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-prepend input-group-text text-white"><i class="fa fa-lock"></i></span>
                    </div>
                    <input class="form-control bg-transparent text-white placeholder-white" name="Password"
                           type="password" [(ngModel)]="authRequest.password" placeholder="Password">
                  </div>
                </div>
                <small class="text-white">*Password is required</small>
                <button (click)="login()" type="submit" class="btn btn-login btn-block mt-4 w-100 rounded-pill">Login</button>
                <button (click)="navigateToRegister()" type="button" class="btn btn-outline-register btn-block mt-2 w-100 rounded-pill">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
