.btn-register {
    background-color: #6f42c1; /* Adjust this color code to your preferred shade of purple */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px; /* For rounded corners, adjust as needed */
  }
  
  .btn-register:hover {
    background-color: #5c17be; /* A slightly darker shade of purple for hover effect */
  }
  